.singleItemPage {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #f1f1f1;
    border-radius: 10px;
}

.image {
    width: 30%;
    height: auto;
    padding: 4px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.textContainer {
    width: 70%;
    padding: 20px;
    line-height: 50px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* .buttonContainer button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
} */

/* Form input */

.formInput {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.formInput:focus {
    outline: none;
    border: 1px solid #ccc;
}

.formInput input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
}

/* Form submit button */

.btnSave {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #80c264;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.btnSave:hover {
    background-color: #4d7c3c;
}

.btnDelete {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(214, 82, 82);
    color: #fff;
    cursor: pointer;
}
.btnDelete:hover {
    background-color: rgb(171, 66, 66);
}
/* Responsive design */

@media (max-width: 768px) {
    .singleItemPage {
        flex-direction: column;
        align-items: center;
    }

    .image {
        width: 100%;
        height: auto;
    }

    .textContainer {
        width: 100%;
        padding: 10px;
    }

    .buttonContainer {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .singleItemPage {
        margin-top: 20px;
    }
    .image {
        width: 100%;
        height: auto;
    }
    .textContainer {
        width: 100%;
        padding: 10px;
    }
    .buttonContainer {
        margin-top: 10px;
    }
    .formInput {
        width: 100%;
    }
    .formSubmitButton {
        width: 100%;
    }
}

/* Product details page */
