.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE/Edge */

  /* برای Webkit (Chrome, Safari) */
}

.mainContent::-webkit-scrollbar {
  display: none;
}
