.basket {
    padding: 60px 10px;
    text-align:center;
    height: auto;
}
.Subtotal {
    position: absolute;
    width: 300px;
    min-height: 400px;
    margin-top: 70px;
    padding: 0 10px;
    right: 20;
    border-left: solid 1px;

    p {
        margin-top: 10px;
    }
    .checkoutBtn {

        margin-top: 100px;

        a {
            text-decoration: none;
            padding: 7px 14px;
            border-radius: 9px;
            color: aliceblue;
            background-color: rgb(13, 121, 4);
        }
    }

    
}

@media screen and (max-width: 1844px) {
    .Subtotal {
        position: relative;
        min-height: 100px;
        margin-left: 20px;
        border: none;
        .checkoutBtn {
            margin-top: 20px;
        }
    }
    
}