.background {
  background: rgb(77,34,179);
  background: linear-gradient(90deg, rgba(77,34,179,0.8603816526610644) 40%, rgba(151, 32, 117, 0.782) 100%);
  background-image: url('../../../public/backgroundWatch.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
}
  
  .Container {
    background-color: #dadada;
    max-width: 1000px;
    padding: 0 10px;
    height: 520px;
    margin: 70px auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    line-height: 1.5;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
    border-radius: 5px;
  }
  /* .container::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to bottom right, #ff9ec4, #ffd07e);
    width: 900px;
    height: 900px;
    border-radius: 50%;
    z-index: -1;
  } */
 
  .Container img {
    max-width: 370px;
    height: 500px;
    object-fit: cover;
    padding: 7px;
  }


  


.form__input {
  width: clamp(120px, 50vw, 420px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border-radius: 2px;
  margin: 0.625rem auto;
  transition: all 250ms;
  @media (min-width: 768px) {
    width: clamp(120px, 35vw, 420px);
  }

  &:focus {
    outline: none;
    border-top-color: rgba(0, 0, 0, 0.1);
  }


  &:focus + .form__label,
  &:not(:placeholder-shown) + .form__label {
    transform: translateY(-4.5rem) scale(1);
  }


  &::placeholder {
    display: none;
    color: transparent;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  &:not(:placeholder-shown) {
    border-top-color: rgba(0, 0, 0, 0.5);
  }
}

.form__label {
  font-size: 1rem;
  display: block;


  transform: translate(1.25rem, -2.5rem);
  transform-origin: 0 0; 
  transition: all 500ms;

  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 

  pointer-events: none;
}

.containerText button {
  width: 100%;
  padding: 0.875rem 1.25rem;
  background-color: #ec4b8c;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 250ms;
  &:hover {
    background-color: #40a3ff;
  }
}